<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- {% include 'include/title.html' %} -->

    <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dashboard/dashboard.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/include/footer.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

</head>
<body>
    
    <article id="dashboard_wrap">
        
        <h3>위험구역 침입 감지 대시보드</h3>
        
        <div class="menu">
            <a href="/"> HOME </a>
            |
            <a href="../dashboard/log_list">LOG_LIST</a>
            |
            <a href="/member/signOut_form"> SIGN_OUT </a>
            
        </div>
        
        <div class="main_layout">

            <div class="camera_view">
                <img 
                id="video_img" 
                src="/dashboard/video_feed" 
                width="800" alt="실시간 영상">
            </div>

            
            <div class="manager_box">
                <div class="info_item">
                    <h4>감지 인원</h4>
                    <p id="person_count">-</p>
                </div>

                <div class="info_item">
                    <h4>담당자</h4>
                    <p id="manager">-</p>
                </div>

                <div class="info_item">
                    <h4>감지된 시간</h4>
                    <p id="detected_time">-</p>
                </div>

                <div class="info_item">
                    <h4>확인 시간</h4>
                    <p id="checked_time">-</p>
                </div>

            </div>
            
            <div class="danger_box">
                <h4>위험 구역</h4>
                <p id="danger_zone">-</p>
            </div>
            
            
            <div id="log_box">
                <h4>로그 목록</h4>
            </div>
        </div>

        <div id="log_detail">
            <h4>로그 상세</h4>
        </div>
        
        <div class="warning" id="intrusionAlert"></div>
        <div class="alert-overlay"></div>
    </div>
    
    <div class="warning-top-bar">
        <h4>⚠ 위험구역 침입 감지</h4>    
        
        <button class="triggerAlert" onclick="triggerAlert()">
            🔊 침입 발생 (사이렌 ON)
        </button>
        <button class="clearAlert" onclick="clearAlert()">
            🔇 상황 해제 (Fade-out OFF)
        </button>
    </div> 
         
    </article>
    
    {% include 'include/footer.html' %}
    
</body>
</html>