<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOG LIST</title>

    <link href="../../static/css/dashboard/log.css" rel="stylesheet">
    <link href="{{ url_for('static, filename='css/dashboard/log.css') }}" rel="stylesheet">

</head>
<body>
    
    <article id="dashboard_wrap">
        
        <h3>위험구역 침입 감지 대시보드</h3>
    
        <div class="data_box">
            <h4> [ 로그 기록 ] </h4>
            <ul>
                <li> datetime.now() 위험지역 진입 </li>

            </ul>
        </div>

        <div class="warning">
                <h4>⚠ 위험구역 침입 감지</h4>    
                <div class="alert-overlay"></div>
            </div> 

</body>
</html>