<link href="{{ url_for('static', filename='css/include/nav.css') }}" rel="stylesheet">

<nav>
    {% if not session.get('signedInMemberId') and not session.get('signedInAdminId') %}
        <div class="nav_wrap">
            <a href="/">HOME</a>
            |  
            <a href="{{ url_for('member.member_gateway') }}">MEMBERS</a> 
            | 
            <a href="{{ url_for('admin.admin_gateway') }}">ADMIN</a>
            |
        </div> 
        
    {% elif session.get('role') == 'MEMBER' %}  
        <div class="member_wrap">
            <a href="/">HOME</a>
            |
            <a href="{{ url_for('common.signOut_form') }}">SIGN-OUT</a>
            |
            <a href="{{ url_for('dashboard.main') }}">DASHBOARD</a>

            <span class="member"> 👤 직원 : {{session['signedInMemberId'] }} </span>
        </div>

    {% elif session.get('role') == 'ADMIN' %}  
        <div class="admin_wrap">
            <a href="/">HOME</a>
            |
            <a href="{{ url_for('common.signOut_form') }}">SIGN-OUT</a>
            |
            <a href="{{ url_for('admin.member_list') }}">MEMBER_LIST</a>
            |
            <a href="{{ url_for('dashboard.main') }}">DASHBOARD</a>
            |
            <a href="{{ url_for('trouble.new_critical_error_form') }}">TROUBLESHOOTING</a>

            <span class="admin"> 👑 관리자 : {{ session['signedInAdminId']}}</span>
        </div>

    {% endif %}
</nav>