<title>Monitoring Trouble</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">

<link href="{{ url_for('static', filename='css/troubleshooting/trouble_common.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/troubleshooting/trouble.css') }}" rel="stylesheet">

<script src="{{ url_for('static', filename='js/trouble.js') }}" defer></script>