<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'include/trouble_title.html' %}

    <link href="{{url_for('static', filename='css/trouble_common.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/trouble.css')}}" rel="stylesheet">

    <script src="{{url_for('static', filename='js/trouble.js')}}"></script>

</head>
<body>
    
    {% include 'include/trouble_nav.html' %}

    <article id="new_critical_error_wrap">
        <div class="new_critical_error_form">
            <form action="/trouble/new_critical_error_confirm"  method="post" name="newErrorForm">

                <input class="input_basic_eNum" type="text" name="eNum" value="{{ eNum }}" readonly>
                
                <select class="select_basic" type="text" name="category">
                    <option value="python">
                        UNKNOWN
                    </option>
                    <option value="GIT">
                        GIT
                    </option>
                    <option value="HTML">
                        HTML 
                    </option>
                    <option value="JSON">
                        JSON 
                    </option>
                    <option value="YOLO">
                        FLASK(YOLO)
                    </option>
                    <option value="CAM">
                        ESP32-CAM
                    </option >
                    <option value="FRONTEND">
                        JS/CSS
                    </option>
                    <option value="PYTHON">
                        FLASK(PYTHON)
                    </option>
                </select>    
                <br>
                <input class="input_basic" type="text" name="error_code" placeholder="Input Error Code">
                <br>
                <input class="input_basic" type="text" name="issue" placeholder="Input your Issue Simply">
                <br>
                <select class="select_basic" type="text" name="progress">
                    <option value="Resolved">
                       Resolved
                    </option>
                    <option value="In_Progress">
                        In Progress
                    </option>
                    <option value="Needs_Review">
                        Needs Review 
                    </option>          
                </select>    
                <input class="input_button_basic_130" type="button" value="SUBMIT" onclick="submitCriticalErrorForm();">
                <input class="input_button_basic_130" type="reset" value="RESET">
            </form>
        </div>
    </article>

</body>
</html>

     
            
         