<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'include/title.html' %}

    <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/member/member.css') }}" rel="stylesheet">

</head>
<body>
    
    {% include 'include/header.html' %}
    {% include 'include/nav.html' %}

    <article id="delete_wrap">

        <div class="delete_result">
            <h3>INPUT ADMIN KEY NUMBER</h3>
            <form action="/admin/delete_confirm" method="POST">
                
                <input type="hidden" name="mId" value="{{ mId }}">

                <input class="input_basic" type="password" name="admin_key" placeholder="Input admin key">
                <input class="input_button_basic_130" type="submit" value="DELETE">
                <input class="input_button_basic_130" type="reset" value="RESET">
            </form>
        </div>
        
    </article>

    {% include 'include/footer.html' %}

</body>
</html>