<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOG LIST</title>

    <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet"> 
    <link href="{{ url_for('static', filename='css/dashboard/log.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/include/footer.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/list.js') }}"></script>
    

</head>
<body>
    
    <article id="dashboard_wrap">
        
        <h3>위험구역 침입 감지 대시보드</h3>

        <div class="menu">
            <a href="/">HOME</a>
            |
            <a href="{{ url_for('dashboard.main') }}"> DASHBOARD </a>
            |
            <a href="{{ url_for('common.signOut_form') }}"> SIGN_OUT </a>
            
        </div>

        <div class="data_box">
            <div class="log_header">

                <h4>[ 로그 기록 ]</h4>
                
                <a href="{{ url_for('dashboard.download_report') }}">
                    <button type="button" class="download_btn">
                        DOWNLOAD
                    </button>
        </a>
            </div>
            
            <table class="log_table">
                <thead>
                    <tr>
                        <th>로그번호</th>
                        <th>위험구역</th>
                        <th>감지인원</th>
                        <th>감지시간</th>
                        <th>담당자</th>
                        <th>확인시간</th>
                    </tr>
                </thead>

                <tbody id="log_list_container"></tbody>
            
            </table>
    </div>

    {% include 'include/footer.html' %}

</body>
</html>